body {
    font-family: Helvetica, Arial, sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

/* Navigation bar */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #617798;
    width: 100%;
    text-align: center;
    border: 1px solid #435166;
}

li {
    float: left;
}

li a {
    display: block;
    padding: 14px 16px;
    text-align: center;
    color: white;
    text-decoration: none;
}

li a:hover, li a.active {
    background-color: #435166;
}

/* Table */
thead {
    font-size: 1.1em;
	margin: 15px 0;
}

table {
    color: #333;
    width: 70%;
    border-collapse: collapse;
    border-spacing: 0;
    text-align: center;
}

td, th {
    border: 1px solid #CCC;
    padding: 5px;
}

th {
    background: #f3f3f3;
    font-weight: bold;
}

td {
    background: #fafafa;
}

/* Form */
input {
    padding: 9px;
    border: solid 1px #e5e5e5;
    width: 200px;
    background: #ffffff;
}

input:hover, input:focus {
    border-color: #c9c9c9;
}

form label {
    color: #999999;
    width: 80px;
    display: inline-block;
}

form div {
    margin-bottom: 9px;
}

button[type=submit] {
    padding: 9px 15px;
    background: #617798;
    border: 0;
    font-size: 1em;
    color: #ffffff;
    margin-top: 9px;
    cursor: pointer;
}

.submit-button {
   text-align: center;
}

select {
   color: #555;
   padding: 4px;
   width: 220px;
}

.has-error input {
    border-color: darkred;
}

.error-message {
    color: darkred;
    font-size: 0.8em;
    margin-left: 85px;
}