<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Owners</title>
</head>
<body >
    <section layout:fragment="content">
        <h1>Owners</h1>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Number of pets</th>
            </tr>
            </thead>
            <tbody th:each="owner : ${owners}">
            <tr>
                <td th:text="${owner.name}">Robert</td>
                <td th:text="${owner.numberOfPets}">1</td>
            </tr>
            </tbody>
        </table>
    </section>
</body>
</html>