<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">
<head>
    <title>Pets</title>
</head>
<body>
    <section layout:fragment="content">
        <h1>Pets</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Owner</th>
                </tr>
            </thead>
            <tbody th:each="pet : ${pets}">
                <tr>
                    <td th:text="${pet.name()}">Robert</td>
                    <td th:text="#{${'pet.type.' + pet.type()}}">Dog</td>
                    <td th:text="${pet.owner().name()}">Lucie</td>
                </tr>
            </tbody>
        </table>
        <div class="button-link">
            <a th:href="@{/pets/new}" href="pet.html">Create pet</a>
        </div>
    </section>
</body>
</html>